* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(168, 95, 129);
    display: flex;
    justify-content: center;
    align-items: center;
}
.email {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(244, 231, 245);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.Address{
    position: initial;
    background-color: rgb(106, 126, 194);
    padding: 20px;
 
}
.ContactNumber {
    position: initial;
    background-color: rgb(106, 153, 156);
    padding: 20px;
 
}
.Skills {
    position: initial;
    background-color: rgb(162, 202, 206);
    padding: 20px;
 
}

.image, .ContactNumber, .Skills, .Address, .Skills, .email, .h4 {
    margin-bottom: 30px;
}
.h4 {
    background-color: rgb(8, 56, 83);
}